:root {
    --bgGray: #ffffff10;
    --coloGray: #ffffff7a;
}

.main {
    padding: 2.5em 0em;
    color: #fff;
}

.bgDark {
    background-color: #212121;
}

.main h1 {
    font-size: 32px;
    padding-bottom: .5em;
}

.main article section {
    width: 100%;
}

.main article section.sectionCI {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main p {
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: .5em;
}

.main section p:nth-last-child(1) {
    padding-bottom: 0;
}

.main a {
    font-weight: bolder;
    text-decoration: none;
    color: #ffffffcc;
}

.main a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: all .25s ease-in-out;
}


/*  Mobile S - 320px    */
@media (max-width:320px) {
    .main article section.sectionCI {
        display: flex;
        flex-wrap: wrap;
    }

    .cardDefault {
        min-width: 7em !important;
    }

    .cardDefault>img {
        max-width: 4em;
    }


}

/*  Mobile M - 375px    */
@media (max-width:375px) and (min-width: 321px) {
    .cardDefault {
        min-width: 8em !important;
    }

    .cardDefault>img {
        max-width: 4em;
    }
}

/*  Mobile L - 425px    */
@media (max-width:425px) and (min-width: 376px) {}

/*  Tablet - 768px  */
@media (max-width:768px) and (min-width: 426px) {}

/*  Laptop - 1024px */
@media (max-width:1024px) and (min-width: 769px) {}

/*  Laptop L - 1440px*/
@media (min-width: 1024px) {}

@media (max-width:1440px) and (min-width: 1025px) {}

/*  4K - 2560px */
@media (max-width:2560px) and (min-width: 1441px) {}


.habilidades>a {
    display: flex;

}

h2 {
    text-align: center;
}

.boxDefault {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    padding-top: .7em;
}

.cardDefault {
    min-width: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .3em;
    background-color: var(--bgGray);
    color: var(--coloGray);
    padding: 1em;
    flex-wrap: wrap;
}

.cardDefault:hover {
    background-color: #ffffff30;
    color: #ffffff;
    transition: all .25s ease-in-out;
    cursor: pointer;


}

.cardDefault>img {
    max-width: 7em;
}

.iconDefault {
    font-size: 2.5em;
}

.bgGray {
    background-color: var(--bgGray);
}

.colorGray {
    color: var(--coloGray);
}

.pt3 {
    padding-top: 2em;
}

.about>p {
    color: #ffffffcc;
}

.about>h2 {
    padding-bottom: .5em;
}