.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

@media (max-width: 650px) { 
    .container {
        width: 85%;
    }
}