.footer {
    width: 100%;
    min-height: 100vh;
    padding-top: 2.5em;
    background-color: #263238;
    color: #fff;
}

.footer .content {
    width: 100%;
    /* 
        Eixo principal: --- ;
        Eixo secundario  |  ;
        Flex: flex-grow, flex-shrink, flex-basis;
        flex-grow: Elementos flex podem crescer ao longo do eixo principal
    */
    display: flex;
    flex-wrap: wrap;
}

.footer .content div {
    flex: 1 1 50%;
    margin-bottom: 2.5em;
}

.footer .content div:nth-child(2n) {
    padding-left: 3em;
}

/*  Mobile Configuration    */

@media (max-width: 637px) {
    .footer .content div:nth-child(2n) {
        padding-left: 0em;
    }
}

/*  ----- */

.footer .developed {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: end;
    align-items: center;
    padding: 3em;
}