.navbar {
    width: 100%;
    min-height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    background-color: #263238;
}

.navbar .logo {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.navbar .logo h2 {
    margin-left: .4em;
    flex-wrap: wrap;
}

.navbar h2 svg {
    margin-left: .1em;
}

.navbar ul {
    display: flex;
}

.navbar ul:hover a {
    color: #b0bec5;
    transition: color .3s ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin-left: .5em;
    padding: .3em;
    font-size: 1.1em;
    transition: all .3s ease-in-out;
}

.navbar a:hover {
    color: #fff !important;
    transition: color .3s ease-in-out;
}