:root {
    --time-delay-300: .3s;
}

.list_contact {
    @apply flex flex-wrap flex-row gap-2 pt-1 mb-4
}

.link_contact {
    color: #ffffff7a;
    text-decoration: none;
    -webkit-transition: var(--time-delay-300) ease-out;
    -moz-transition: var(--time-delay-300) ease-out;
    -o-transition: var(--time-delay-300) ease-out;
    transition: var(--time-delay-300) ease-out;

    @apply flex flex-col flex-wrap content-center items-center bg-zinc-800 shadow-md rounded-lg p-3
}

.link_contact:hover {
    color: #ffffffdf;
    -webkit-transition: var(--time-delay-300) ease-out;
    -moz-transition: var(--time-delay-300) ease-out;
    -o-transition: var(--time-delay-300) ease-out;
    transition: var(--time-delay-300) ease-out;

    @apply bg-violet-800
}

.link_contact svg {
    @apply text-3xl
}