.imageVerified {
    display: flex;
    align-items: baseline;
    position: sticky;
    top: 50px;
}

.imageVerified img {
    width: 3.5em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.imageVerified svg {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.4em;
    color: #304ffe;
}