.infoList a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #80d6ff;
}

.infoList a:hover {
    text-decoration: none;
    color: #1e88e5;
    transition: color .25s ease-in-out;
}

.infoList a span {
    opacity: .7;
}

.infoList a svg {
    font-size: 1.2em;
    margin-right: .3em;
}

.infoList ul {
    width: max-content;
    padding-top: .2em;
}

.infoList ul li {
    padding-top: .5em;
}

.email svg {
    color: #db4a39;
}

.phone svg {
    color: #1d588d;
}

.discord svg {
    color: #7289da;
}

.facebook svg {
    color: #3b5998;
}

.instagram svg {
    color: #f56040;
}

.linkedin svg {
    color: #007bb6;
}

.whatsapp svg {
    color: #34af23;
}

.github svg {
    color: #171515;
}